<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/theme/css/poole.css">
    <link rel="stylesheet" href="/theme/css/syntax.css">
    <link rel="stylesheet" href="/theme/css/hyde.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body class="theme-base-08">
    {% include "sidebar.html" %}
    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html>
